.popup {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: start;
  height: 100%;

  background-color: #fff;
}
.visited-title {
  padding: 10px;
  font-size: 20px;
}
.visited-list {
  list-style: none;
  border-top: 1px solid red;
  max-height: 300px;
  overflow-y: auto;
  padding: 10px;
}
.visited-list li {
  justify-content: space-between;
  display: flex;
  padding: 3px;
}

.visited-list li .btn {
  background-color: red;
  color: #fff;
  border-radius: 5px;
  padding: 2px 5px;
}
.visited-list li .btn:hover {
  background-color: rgb(221, 27, 27);
 
}